<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
    <body>
        <div class="container-fluid">
            {% block content %}
                Loading content.
            {% endblock %}
        </div>
    </body>
</html>
