<head>
  <meta charset="utf-8">
  {% load static %}
	<link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- wczytuj statici dla formow, z jakiegos powodu musi byc w headzie -->
  {{form.media}}
</head>
