{% extends 'base.html' %}

{% block content %}
<div class="panel-body">
	<br/>
	<table class="table">
		{% for skill in skills %}
		<tr>
			<td> {{ skill.name }} </td> <td> {{ skill.used_attribute }} </td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
