<!-- {% extends 'base.html' %} -->

<!-- {% block content %} -->
<div class="panel-body">
	<table class="table table-striped">
		<tbody>
		{% for category, category_talents in talents.items %}
		<th scope="col"> {{ category.value }} </th>
		<th scope="col">depends on</th>
		<th scope="col">available to mooks</th>
		{% for talent in category_talents %}
		<tr>
			<td> {{ talent.name }} </br> {{ talent.description }} </td> <td> {{ talent.depends_on }} </td> <td> {{ talent.available_to_mooks }} </td>
		</tr>
		{% endfor %}
		{% endfor %}
		</tbody>
	</table>
</div>
<!-- {% endblock %} -->
