{% extends 'base.html' %}

{% block content %}
<div class="panel-body">
	<br/>
	<table class="table">
		{% for gear in gears %}
		<tr>
			<td> {{ gear.name }} </td> <td> {{ gear.category }} </td> <td> {{ gear.description|linebreaks }} </td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
