{% extends 'base.html' %}

{% block content %}
<div class="panel-body">
  <form class="form-horizontal" method="GET">
    {{ generation_form.as_p }}
    <input type="submit" value="Generate" class="btn btn-primary" />
	</form>
	<br/>
	<div class="row">
    <div class="col-xs-3 border">
			<label>Stats</label>
			<table class="table table-striped">
				<tr>
					<td> main stat: </td> <td> {{ main_stat.value }} </td>
				</tr>
				{% for attribute, value in generated_values.items %}
				<tr>
					<td> {{ attribute.value }}: </td> <td> {{ value }} </td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-xs-3 border">
			<label>Skills</label>
			<table class="table table-striped">
				{% for skill, rating in skills.items %}
				<tr>
					<td> {{ skill.name }}: </td> <td> {{ rating }} </td>
				</tr>
				{% endfor %}
			</table>		
		</div>
		<div class="col-xl-6 border">
			<label>Talents</label>
			<table class="table table-striped">
				{% for talent in talents %}
				<tr>
					<td> {{ talent }} </br>
						{% if talent.depends_on %}
						Enhances: {{ talent.depends_on }} </br>
						{% endif %}
						{{ talent.description }} </td>
				</tr>
				{% endfor %}
			</table>		
		</div>
	</div>
	<br/>
	<label>Weapons</label>
	<table class="table table-striped">
		<tr>
			<td> {{ main_weapon.name }} </td> <td> {{ main_weapon.used_skill }} </td> <td> {{ main_weapon.description|linebreaks }} </td>
		</tr>
		<tr>
			<td> {{ secondary_weapon.name }} </td> <td> {{ secondary_weapon.used_skill }} </td> <td> {{ secondary_weapon.description|linebreaks }} </td>
		</tr>
	</table>
</div>
{% endblock %}
